$mob-width:873px;
.menu{
    height: 100vh;
    width: 350px;
    background-color: #070606;
    position: fixed;
    top: 0;
    right: -350px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;

    @media(max-width:$mob-width)
    {
        width: 250px;
        right: -250px;
    }
    

    &.active{
        right:0px;
    }

    ul{
        list-style: none;
        margin:0;
        padding: 0;
        font-size: 30px;
        color: white;
        width: 70%;
        @media(max-width:$mob-width)
        {
            font-size: 20px;
        }

        li{
            margin-bottom: 10px;
            a{
                text-decoration: none;
                font-size: inherit;
                color:inherit;
                
            }
        }
        li a:hover{
            font-size: 32px;
            color:gray;
            transition: all 1s ease;
            

        }
    }

}